@{
    ViewData["Title"] = "About Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Come See me perform <a href="https://www.qwcomedy.com/">here</a></p>


<p><a href="https://baconsale.com/">Here</a> is a link to my podcast</p>

<a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" /> </a>

