@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MovieRating

<!--show what movie was just added-->
<h2>@Model.Title was Added, Thanks</h2>
